
.descriptionBox {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.song {
    width: 70%;
    margin: 1rem auto;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 80%;
    margin: 0 auto;
}

.postbutton {
    color: white;
    width: 15%;
    height: 4rem;
    background-color: #A5DEF1;
    font-size: large;
    &:hover {
        background-color: #90c1d1;
    }
}

.exitbuttondiv {
    display: flex;
    justify-content: right;
    margin-right: 1.25rem;
}

.exitbtn {
    cursor: pointer;
    color: #A5DEF1;
    font-size: 2rem;
}