$background: #A5DEF1;

#Home {
    background-color: $background;
}


.landingContainer {
    display: grid;
    grid-template-columns: 30rem 65rem;
    grid-template-rows: 25% 25% 25% 25%;
}

.landingImage {
    height: 20rem;
    width: 20rem;
}

.description {
    height: 15rem;
    width: 40rem;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7.5rem;
    width: 40rem;
}

.signInContainer {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}

.formTitle {
    font-size: 3em;
    margin-top: 2rem;
}

.signInForm {
    display: flex-column;
    height: 25rem;
    width: 22rem;
}

.input {
    margin: 1em 0 1em 0;
}

.landingContainer {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}