$background: #A5DEF1;

#Home {
    background-color: $background;
}


#signIn-form-container {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

#signIn-form {
    font-size: 2em;
}