// https://mui.com/material-ui/guides/interoperability/#global-css
// $background: #2A3950;
$background: #FFF;

.card {
    background-color: $background;
    padding: 1em;
    width: 20em;
    justify-content: left; 
    align-items: left;
    text-align: left;
}

.cardHeader {
    text-align: left;
    padding: 0px;
}

.cardContent {
    text-align: left;
    padding: 1em 0em 1em ;
}

.cardActions {
    justify-content: center; 
    align-items: center;
    padding: 0px;
    padding-top: 0.5em;
}

