// https://mui.com/material-ui/guides/interoperability/#global-css
// $background: #2A3950;
$background: #FFF;

.card {
    background-color: $background;
    padding: 0.5em 1em 0.5em;
    width: 20em;
    justify-content: left; 
    align-items: left;
    text-align: left;
}

.cardHeader {
    text-align: left;
}

.cardActions {
    justify-content: center; 
    align-items: center;
}

