
.wrapper {
    margin: 2em;
    padding: 2em;
    border-style:double;
    border-width: .5em;
    border-color: #3b7b9a;
    width: 15em;
    justify-content: center;
}

.uploadPrompt {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    justify-content: center;
    font-weight: 200;
}

.inputItself {

    padding: 1em;

}